footer .social-icons>ul {
    display: flex;
}

footer .social-icons>ul>li {
    padding-left: 1em;
}

footer .social-icons>ul>li a {
    font-size: 19px;
    color: #888;
    transition: all .6s;
}

footer .social-icons>ul>li a:hover {
    color: tomato;
}

footer {
    background-color: #f0f0f0;
    padding-top: 4em;
    padding-bottom: 4em;
}

footer p {
    color: #555;
}

footer ul {
    list-style: none;
}

footer .mastercards {
    align-content: center;
}

footer footer h4 {
    font-size: 1em;
    z-index: 1;
}

footer .footer-p {
    color: rgb(143, 143, 143);
    justify-content: center;
    font-size: 16px;
    text-align: center;
    padding-bottom: 60px;
}

footer .mscards {
    justify-content: center;
    padding: 20px;
}

footer li {
    font-size: 15px;
    color: rgb(158, 158, 158);
    padding-bottom: 10px;
}

footer .input {
    border: none;
    border-bottom: 1px solid rgb(194, 194, 194);
    margin-bottom: 25px;
    width: 320px;
    outline: none;
    transition: all 2s;
    background-color: #f0f0f0;
}

footer .input:hover {
    border-bottom: 1px solid tomato;
}

footer .title h4 {
    font-size: 15px;
    line-height: 1.5em;
}

footer .title ul li {
    list-style: none;
    line-height: 1.5em;
}

footer .title ul {
    padding: 0px;
}

footer .footer-btn {
    width: 180px;
    height: 46px;
    border-radius: 30px;
    background-color: black;
    color: white;
    border: none;
    transition: all 0.8s;
    outline: none;
}

footer .footer-btn:hover {
    color: white;
    background-color: tomato;
}

#totop {
    background-color: rgb(126, 126, 126);
    width: 40px;
    height: 40px;
    transition: all .6s;
    font-size: 25px;
    margin: 30px;
    position: fixed;
    bottom: 0;
    right: 0;
    color: white;
    border-radius: 5px;
}

#totop:hover {
    background-color: tomato;
}

.i {
    margin-left: 11px;
    margin-top: 2px;
}

footer .touch p {
    font-size: 0.9em;
    width: 87%;
}

footer .touch p,
footer .touch h4 {
    padding-left: 1em;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
}